.my-1 {
  margin-bottom: 2.25rem !important;
}
.form textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}
.notification {
  background-color: transparent !important;
  border: transparent !important;
  color: white;
  text-decoration: none;
  /* padding: 15px 26px; */
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.notification::after {
  display: none !important;
}
/* .notification:hover {
  background: red;
} */
.notification:focus {
  box-shadow: 0px 0px 0px 0px !important;
}
.show > .notification:focus {
  box-shadow: 0px 0px 0px 0px !important;
}
.notification:hover {
  outline: none !important;
  border: none !important;
}
.notification .badge {
  position: absolute;
  top: -4px;
  right: -5px;
  padding: 5px 6px;
  /* border-radius: 50%; */
  background: #d60303;
  color: white;
  line-height: 0.6 !important;
}

.popover {
  max-width: 100%;
}
a {
  text-decoration: none !important;
}
.btn-blue {
  background: #2063a2 !important;
  color: #fff;
}
.popover-body {
  padding: 0 !important;
  width: 336px !important;
}
.toast-body {
  font-size: 13px !important;
}
@media (min-width: 768px) {
  .container {
    margin-top: 4rem !important;
  }
}

@media (max-width: 700px) {
  .container {
    margin-top: 3rem;
  }
}
